<?xml version="1.0"?>
<launch>
  <include ns="follower" file="$(find ur_robot_driver)/launch/ur3_bringup.launch">
    <arg name="robot_ip" value="10.30.0.26"/>
    <arg name="controller_config_file" value="$(find ur3_leader_follower)/config/follower_controllers.yaml"/>
    <arg name="robot_description_file" value="$(find ur3_leader_follower)/launch/load_follower_description.launch"/>
    <arg name="kinematics_config" value="$(find ur3_leader_follower)/config/follower_calibration.yaml"/>
    <arg name="tf_prefix" value=""/>
    <arg name="stopped_controllers" value="pose_based_cartesian_traj_controller pos_joint_traj_controller joint_group_vel_controller"/>
  </include>
</launch>
